.container {
	display: flex;
}
.container .information-section {
	flex: auto;
	color: white;
	flex-direction: column;
    overflow-y: auto;
	display: flex;
	justify-content: start;
	font-size: 18px;
	height: 100vh;
}


.container .information-section > div {
	min-height: 100vh;
}
div#next-elements {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center; 
	text-align: center;

}

div#next-elements > div {
	display: flex;
	align-items: center; 
	justify-content: center;
	background-color: #70A9A1;
	padding: 10px;
	color: #0B2027;
	width: 90%;
	flex-direction: row;

}
div#next-elements > div > div {
	text-align: left;
	padding: 4px;
  flex: 1 1 0;
}


#\33 d-graph {

	resize: horizontal;
	width: fit-content;
}
canvas#canvas {
	background-color: white;
}

div#selection div {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	background-color: #F6F1D1;
	margin: 20px;
	padding: 5px;
	color: #0B2027;
	width: 60%;
	text-align: center;
}
div#selection {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center; 
	text-align: center;
}

div.alert {
	width: 100vw;
	height: 100vh;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	background-color: rgb(120, 120, 120, .8)
}
div.alert div {
	width: fit-content;
	height: fit-content;
	background-color: #40798C;
	border-style: solid;
	border-color: #F6F1D1;
	border-width: 10px;
	color: black;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

body { margin: 0; background-color: #0B2027; } /* no scroll bar */

.box > * {
	border: 2px solid rgb(96 139 168);
	border-radius: 5px;
	background-color: rgb(96, 139, 168, 0.2);
}

.box {
	border: 2px dotted rgb(96 139 168);
	display: flex;
}

* {
	font-family: Garamond, serif;
}

#drop-zone {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	max-width: 100%;
	height: 200px;
	padding: 1em;
	border: 1px solid #cccccc;
	border-radius: 4px;
	color: #0B2027;
	cursor: pointer;
}

.fullscreen-button > svg {
	height: 25px;
	width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.fullscreen-button {
	height: 25px;
	width: 25px;
  position: absolute;
  top: 0;
  left: 0;
padding: 0;
border: none;
background: none;
}
#file-input {
	display: none;
}

#preview {
	width: 500px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	list-style: none;
	padding: 0;
}

#preview li {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 0;
	width: 100%;
	height: 100px;
}

#preview img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
